<div class="main-img-div">
  <%=image_tag('main.jpg')%>
  <div class="banner-box">
    <p class="title">
      LOREM IPSUM!
    </p>
    <p class="content">
      훌라훌라 훌라훌라 훌라라라라라라 후랄라라라라랄라라 훌라훌라 훌라훌라
    </p>
  </div>
</div>